@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
box-sizing: border-box;
font-family:  'Poppins', sans-serif;
overflow: auto;
padding: 0;
}
:root{
    --white-color: #fff;
    --header-color: #1e2022;
    --black-color: #000;
    --linear-gradient: linear-gradient(90deg,#4e54c8, #222831  );
} 
/* #4e54c8, */
body{
    background: #343d4b;
    position: relative;
    font-family: 'Poppins';
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: var(--header-color);
    font-size: 3rem;
}
h1{
    color : var(--white-color);
    font-weight: bold;
    font-size: 2.5rem;
}
input{
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    text-align: left;
    padding-left: 2rem;
    font-size: 1.2rem;
    outline: none;
    margin-top: 1rem;
}
.weather-wrapper{
    display: flex;
    position: relative;
    
}
.weather-container, .weather-container-2{
    height: 650px;
    width: 500px;
    background-color: var(--white-color);
    margin-top: 50px;
    border-radius: 50px; 
    position: relative;
    
}
.weather-container h2{
    color: var(--white-color);
}
    .weather-container {
        z-index: 1;
        position: relative;
        left: 70px;
        height: 670px;
        bottom: 10px;
        background-image: url(https://e1.pxfuel.com/desktop-wallpaper/610/969/desktop-wallpaper-beautiful-rain-cool-rainy.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
      }
      
      .weather-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(-45deg, rgba(41, 41, 41, 0.5), rgba(6, 103, 248, 0.9));
        z-index: -1; 
      }
     
      /* Add an additional div for the content and style it as needed */
      .weather-content {
        position: relative;
        z-index: 1; 
        color: white; 
        font-weight: bold; 
        padding: 20px;
        font-size: 1.5rem; 
      }
      .feather{
        font-size: 1.5rem;
      }
  
.weather-container-2{
    background-color: #222831;;
    width: 700px;
    position: relative;
    
}
.weather-container-2 h3{
   text-transform: uppercase;
    margin-left: 8rem;
    color: var(--white-color);
    position: relative;
    top: 3rem;
   
}
.weather-container-2 span{
  position: absolute;
  left: 80%;
}
#svg-container{
    background-color:  #262d36;;
    height: 300px;
    width: 70%;
    margin-left: 8rem;
    margin-top: 7rem;
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}
#svg-container div{
    padding: 2rem;
    overflow: hidden;
    text-align: center;

}
#svg-container img{
    margin-left: -1rem;
    width: 100px;
}

#svg-container h4{
    font-size: 0.8rem;
    text-align: center;
    color: var(--white-color);
}


#svg-container h5{
    font-size: 1.8rem;
    color: var(--white-color);
    text-align: center;
    overflow: hidden;
}
#cloud{
    height: 100%;
    background-color: #5f5e5e; 
    overflow: hidden;
    border-radius: 20px;
    margin-left: -2rem;
}

#bolt{
 margin-left: 1rem;
}
button{
    display: block;
    margin: auto;
    width: 300px;
    padding: 5px;
    position: absolute;
    left: 35%;
    bottom: 20px;
    background: linear-gradient(-45deg, #4e54c8, #8089ff);
    color: var(--white-color);
    font-size: 1.3rem;
    border-radius: 50px;
    border: none;
    transition: 0.5 ease-in;
}
.error-container,.fetching-details{
    width: 350px;
    padding:  15px;
    background-color:  #FF9494;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    display: none;
}
.fetching-details{
    background-color: rgb(25, 135, 84);
}
.increase-size{
    font-size: 50px;
}
.weather-prediction{
    text-align: center;
    position: absolute;
    left: 35%;
    padding-top: 15px;
    font-size: 1.3rem;
    color: var(--white-color);
}
button:hover{
    transform: scale(1.05);
}

h5 i{
margin-top: 5rem;
color: var(--white-color);
}


.weather-content{
    position: relative;
}
.weather-content h6{
    margin-top: 2rem;
    font-size: 2rem;
}
.city{
    position: absolute;
    left: 90px;
    top: 210px;
    font-size: 1.8rem;
}
#date-text{
    padding-top: 20px;
}
.temp-degree{
    font-size: 3.5rem;
}
.temp-description{
 font-size: 1.1rem;

}
.description{
    display: flex;
    flex-direction: column;

}
#weather-icon{
    width: 150px;
}
